*{
    padding: 0;
    margin: 0;
}
/* Hola Rocio pase por aca agregando color al nav saludos.Bladimir */
nav{
    background-color:  #cbb89d;
}


body {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-color: rgb(196, 188, 188);
}
.text {
    position: top;
    color: black;
    bottom: 50px;
    left: 100px;
    padding: 5px 10px;
    margin: 0;
}

.footer {
    background-color: #ffffff #ECE9E6;
    color: black;
    padding: 1.5rem;
}